{% macro render_field(field) %}
<div class="form-group">
    <label for="{{ field.name }}" class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
        {{ field(class_='form-control') }}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_radio_field(field) %}
<div class="form-group">
    <label class="col-lg-2 control-label">{{ field.label.text }}</label>
    <div class="col-lg-10">
    {% for subfield in field %}
    <div class="radio">
        <label>
            {{ subfield }}
            {{ subfield.label.text }}
        </label>
    </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}