{% extends "template.html" %}
{% from "_render_field.html" import render_field, render_radio_field %}
{% block content %}

<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal", method="POST" action="/">
          {{ form.csrf_token }}
          <fieldset>
            <legend>Content Scraper</legend>

            {{ render_field(form.url) }}
        
            {{ render_field(form.filename) }}
      
            {{ render_field(form.file_extension) }}
      
            {{ render_radio_field(form.scraping_type) }}

            {{ render_field(form.stop_words) }}
            
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}